<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{friend.name}}">
	<ion-nav-buttons side="right">
		<button class="button button-icon" ng-click="showMenu($event)">
			<i class="icon ion-android-more-vertical"></i>
		</button>
	</ion-nav-buttons>
  <ion-content has-bouncing="true" class="padding">
    <img ng-src="{{friend.face}}" style="width: 64px; height: 64px">
    <div ng-repeat="message in messages" ng-if="message.to == friendId && message.from == swishUser.email" class="messages" ng-class="{'other': message.from == swishUser.email}">
		
        <div class="message" ng-class="{'slide-right': message.from == swishUser.email}">
          <span>{{message.message}}</span>
        </div>

        <!--<div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div>-->
    </div>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
</ion-view>
