<ion-view view-title="Login">
  <ion-content has-bouncing="true">
    <form ng-submit="doLogin()">
		<div class="list list-inset login">
			<div class="error no-margin" ng-if="loginData.error">
				{{loginData.error}}
			</div>
			<div class="success no-margin" ng-if="loginData.success">
				{{loginData.success}}
			</div>
			<label class="item item-input">
				<i class="icon ion-at placeholder-icon"></i>
				<input type="text" ng-model="loginData.username" placeholder="Email">
			</label>
			<label class="item item-input">
				<i class="icon ion-key placeholder-icon"></i>
				<input type="password" ng-model="loginData.password" placeholder="Password">
			</label>
			<label class="item">
				<button class="button button-block button-positive" type="submit">Log in</button>
			</label>
		</div>
		<div class="list list-inset">
			<!--<a href="#/registration">Don't have an Account?</a>-->
			<a href="#" ng-click="showRegistrationPopup()">Don't have an Account?</a>
			<!--<a href="#/recover" style="float:right">Forgot Password?</a>-->
			<a href="#" ng-click="showRecoverPasswordPopup()" style="float:right">Forgot Password?</a>
		</div>
    </form>
		<div class="list list-inset">
			<a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">
				Log in with Facebook
			</a>
		</div>
  </ion-content>
</ion-view>