<ion-view view-title="John Deo">
	<ion-nav-buttons side="right">
		<button class="button button-icon" ng-click="showMenu($event)">
			<i class="icon ion-android-more-vertical"></i>
		</button>
	</ion-nav-buttons>
	<ion-content>
		<div class="list profile">
			<div class="item item-thumbnail-left" href="#">
				<img src="http://ionicframework.com/img/docs/blue-album.jpg">
				<h2>John Deo</h2>
				<p>Nine Inch Nails</p>
			</div>
		
			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#/tab/profile/friends">
					<i class="icon ion-person-stalker"></i>
					Friends<p>300</p>
				</a>
				<a class="tab-item" href="#/tab/profile/maps">
					<i class="icon ion-ios-location"></i>
					Nearby court<p>YMC New York</p>
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-star"></i>
					Swish Rating<p>9</p>
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>
