<ion-view view-title="Maps">
	<ion-nav-buttons side="right">
		<button class="button button-icon" ng-click="showMenu($event)">
			<i class="icon ion-android-more-vertical"></i>
		</button>
	</ion-nav-buttons>
	<ion-content>
		<div class="mapCanvas">
			<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
				<ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'">
				</ui-gmap-markers>
			</ui-gmap-google-map>
		</div>
		<div class="list card swishCard" ng-repeat="post in posts">
			<a href="#">
				<div class="item">
					<h2>{{post.name}}</h2>
					<p>{{post.description}}</p>
					<p>({{post.posted_on}})</p>
				</div>
			</a>
		</div>
	</ion-content>
</ion-view>
