<ion-view view-title="Dashboard">
	<ion-nav-buttons side="right">
		<button class="button button-icon" ng-click="showMenu($event)">
			<i class="icon ion-android-more-vertical"></i>
		</button>
	</ion-nav-buttons>
	<ion-content has-bouncing="true" class="padding">
		<!--<ion-refresher
           pulling-text="Pull to refresh..."
           refreshing-text="loading..."
           on-refresh="doRefresh()">
        </ion-refresher>-->
		<div class="list card swishCard" ng-repeat="post in posts">
			<div class="item item-avatar">
				<img ng-src="{{post.face}}">
				<h2>{{post.name}}</h2>
				<p>{{post.description}}</p>
				<p>({{post.posted_on}})</p>
				<p>{{post.face}}</p>
			</div>
		</div>
		<div class="list">
			{{image}}
			<img src="{{image}}"><br/>
			<img ng-src="{{image}}">
		</div>
	</ion-content>
</ion-view>